<div id="main" class="push py-14 mt-10 mt-lg-12">
	<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-7">
          <h1 class="font-weight-bold">管理</h1>
          <div class="h3">發退款信</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid border-bottom mb-6 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="nav-responsive">
            <ul class="nav nav-tabs nav-justified border-bottom-0">
              <li class="nav-item">
              	<%= link_to "訂單匯入", order_batch_uploads_path, class:"nav-link " %>
              </li>
              <li class="nav-item">
              	<%= link_to "發退款信", send_refund_letters_path, class:"nav-link active" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
	<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-4 text-right">
          <%= link_to "新增", new_send_refund_letter_path, :class => "btn btn-outline-primary"%>
        </div>
        <div class="card">
          <div class="card-header">
            <strong class="card-title">所有排程</strong>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">提案名稱</th>
                  <th scope="col">是否發送</th>
                </tr>
              </thead>
              <tbody>
                <% @rl.each do |rl|%>
                  <tr>
                    <th scope="row"><%= rl.id%></th>
                    <td><%= rl.campaign.title%></td>
                    <td><%= render_is_send(rl.campaign.status)%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
		</div>
    <%= will_paginate @rl %>
	</div>
</div>