<div id="main" class="push py-14 mt-10 mt-lg-12">
	<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-7">
          <h1 class="font-weight-bold">管理</h1>
          <div class="h3">訂單匯入</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid border-bottom mb-6 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="nav-responsive">
            <ul class="nav nav-tabs nav-justified border-bottom-0">
              <li class="nav-item">
              	<%= link_to "訂單匯入", order_batch_uploads_path, class:"nav-link active" %>
              </li>
              <li class="nav-item">
              	<%= link_to "退款發信", send_refund_letters_path, class:"nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
	<div class="container">
		<% if params[:w] == "finished" %>
			<div class="h5 font-weight-bold">
        <i class="fas fa-fw fa-check-circle"></i> 匯入成功
      </div>
    <% end %>
    <div class="row">
			<%= form_for @order, url: order_batch_uploads_path do |f| %>
			   <div class="form-group">
			      <%= f.label :file, "Upload CSV File" %>
			      <%= f.file_field :file, class: 'form-control-file', required: true %>
			   </div>
			   <%= f.submit "Upload CSV", class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>

</div>