<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-7">
          <h1 class="font-weight-bold">友善會員</h1>
          <div class="h3">支持紀錄</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid border-bottom mb-6 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="nav-responsive">
            <ul class="nav nav-tabs nav-justified border-bottom-0">
              <li class="nav-item">
              	<%= link_to "帳號管理", edit_user_registration_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
              	<%= link_to "支持紀錄", orders_path, class:"nav-link " %>
              </li>
              <li class="nav-item">
                <%= link_to "追蹤提案", tracks_path, class:"nav-link active" %>
              </li>
              <li class="nav-item">
              	<%= link_to "提案紀錄", campaigns_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "最愛小農", favo_farmers_path, class:"nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
	<div class="container">
    <row>
      <% @tracks.each do |track|%>
        <div class="col-12 col-sm-6 col-lg-3 my-3">
          <div class="item">
            <%= link_to campaign_path(track.campaign.slug), :class => "d-block position-relative" do %>
              <span class="badge badge-primary">NEW</span>
              <img class="img-fluid text-center" src="<%= track.campaign.campaign_image.try(:campaign_path) %>" alt="">
            <% end %>
            <div class="p-2">
              <%= link_to track.campaign.title, campaign_path(track.campaign.slug), :class => "item-title text-black"%>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= campaign_percentage(track.campaign) %>;" aria-valuenow="<%= campaign_percentage(track.campaign) %>" aria-valuemin="0" aria-valuemax="100"><%= campaign_percentage(track.campaign) %></div>
              </div>
              <div class="mt-2">
                <small class="d-block">
                  <i class="far fa-fw fa-clock"></i> <%= render_remain_day(track.campaign.end_date) %>
                </small>
                <small class="d-block">
                  <i class="fas fa-fw fa-dollar-sign"></i> <span class="text-muted">目前達成金額</span>
                  <strong><%= number_to_currency(track.campaign.amount_raised, precision: 0)%></strong>
                </small>
              </div>
              <div class="mt-2">
                <%= link_to "取消追蹤", cancel_tracks_path(:user_id => current_user.id, :campaign_id => track.campaign_id), :class => "btn btn-outline-primary btn-block btn-sm" %>
              </div>
            </div>
          </div>
        </div>
  		<% end %>
		</row>
	</div>
</div>