<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-7">
          <h1 class="font-weight-bold">友善會員</h1>
          <div class="h3">帳號管理</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid border-bottom mb-6 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="nav-responsive">
            <ul class="nav nav-tabs nav-justified border-bottom-0">
              <li class="nav-item">
                <%= link_to "帳號管理", edit_user_registration_path, class:"nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "支持紀錄", orders_path, class:"nav-link " %>
              </li>
              <li class="nav-item">
                <%= link_to "追蹤提案", tracks_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "提案紀錄", campaigns_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "最愛小農", favo_farmers_path, class:"nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= f.error_notification %>
          <div class="form-group row align-items-center">
            <label for="id" class="col-sm-3 col-form-label">
              <img class="img-fluid rounded-circle" src="<%= current_user.authorizations.present? ? "https://graph.facebook.com/#{current_user.authorizations[0].uid}/picture" : "https://help.lebara.com/assets/images/fdecb4bb.profile.jpg"%>" alt="" style="width: 50px">
            </label>
            <div class="col-sm-10"></div>
            <div class="col-12">
              <small class="form-text text-muted">
                * 會員照片與您的臉書相同，臉書更新照片~友故事會一起更新哦！
              </small>
            </div>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.fields_for :user_profile, resource.user_profile do |user_profile| %>
            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">暱稱</label>
              <div class="col-sm-9">
                <%= user_profile.input :nickname, required: true, autofocus: true, label: false, :class => "form-control" %>
                <div class="form-text text-muted font-small">
                  * 網站顯示的名稱。
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">電子信箱</label>
              <div class="col-sm-9">
                <%= f.input :email, required: true, autofocus: true,:readonly => true, label: false, :class => "form-control" %>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                  <label class="custom-control-label" for="customCheck2">允許訊息通知</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <img class="img-fluid" src="/sk2_assets/img/uploads/qrcode.png" alt="" style="width: 80px;">
                <a class="" href="https://m.me/ugooz" target="_blank"><u>和友故事聊聊吧！</u></a>
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">姓名</label>
              <div class="col-sm-9">
                <%= user_profile.input :first_name, required: true, autofocus: true, label: false, :class => "form-control", :placeholder => "若您為提案人，請填寫真實姓名" %>
              </div>
            </div>
            <%= user_profile.input :country, :as => :hidden, :input_html => { :value => "TW" }  %>
            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">性別</label>
              <div class="col-sm-9">
                <%= user_profile.radio_button(:gender, 1) %>男
                <%= user_profile.radio_button(:gender, 0) %>女
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">生日</label>
              <div class="col-sm-9">
                <div class="form-row">
                  <%= user_profile.date_field :birthday , :class => "form-control"%> 
                </div>
                <div class="form-text text-muted font-small">
                  * 有您的性別與生日，友故事才能為您提供個人茶諮詢服務哦！
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="birthday" class="col-sm-3 col-form-label">地址</label>
              <div class="col-sm-9">
                <div class="form-row">
                  <div class="col">
                    <%= user_profile.input :city_id, :collection =>@cities.map { |c| [c.name, c.id] }, :selected => resource.user_profile.city_id.to_i, label: false, :prompt => "縣市", :input_html => {:onchange => "change_city_select(value)"}%>
                  </div>
                  <div class="col">
                    <%= user_profile.input :district_id, :collection =>@districts.map { |c| [c.name, c.id] }, :selected => resource.user_profile.district_id.to_i, label: false, :prompt => "鄉鎮市區"%>
                  </div>
                </div>
                <div class="mt-2">
                  <%= user_profile.input :address, label: false, :class => "form-control", :placeholder => "路段街道及門牌號碼"%>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="mobile" class="col-sm-3 col-form-label">手機號碼</label>
              <div class="col-sm-9">
                <%= user_profile.input :cell_phone, label: false, :class => "form-control", :placeholder => "正確門號為十碼"%>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">個人臉書或粉專</label>
              <div class="col-sm-9">
                <%= user_profile.input :facebook_url, label: false, :class => "form-control", :placeholder => "https://facebook.com/page-name"%>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">個人介紹</label>
              <div class="col-sm-9">
                <%= user_profile.input :introduction, label: false, :class => "form-control", :placeholder => "若您為提案人，請填寫至少100字的介紹", :input_html => {:rows => 5}%>
              </div>
            </div>
          <% end %>
          <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
              <%= f.button :submit, "更新", :class => "btn btn-primary px-8" %>
              <%= link_to "回上一頁", :back, :class => "btn btn-primary px-8" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
<script type="text/javascript">
  function change_city_select(value){
    jQuery.get("<%= edit_user_registration_path %>", { city_id : value },null,"script");
  }
</script>