<%= link_to new_campaign_goody_order_path(@campaign, goody), class:"item d-block mb-6" do %>
  <div class="d-block position-relative">
    <img class="img-fluid text-center" src="<%= goody.goody_image.try(:cover) %>" style="width: 100%;" alt="">
  </div>
  <div class="p-2">
    <div class="text-black"><%= goody.title %></div>
    <div class="text-danger font-weight-bold"><%= number_to_currency(goody.price, precision: 0) %></div>
    <div class="text-muted mb-2">
      <small>
        <div class="text-row-2"><%= goody.description %></div>
        <i class="fas fa-fw fa-check"></i> <%= t(".quantity", quantity: goody.remaining_quantity) %><br>
        <i class="fas fa-fw fa-user"></i> <%= t(".backers", quantity: goody.orders_count) %><br>
        <i class="fas fa-fw fa-truck"></i> 預計送達 : <%= goody.delivery_time.strftime("%Y年%m月") %>
      </small>
    </div>
    <%= goody.remaining_quantity == 0 ? "<div class='btn btn-block btn-danger'>已額滿</div>".html_safe : "<div class='btn btn-block btn-outline-primary'>#{t('.pledge')}</div>".html_safe %>
    
  </div>
<% end %>