<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-7">
          <h1 class="font-weight-bold">友善會員</h1>
          <div class="h3">支持紀錄</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid border-bottom mb-6 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="nav-responsive">
            <ul class="nav nav-tabs nav-justified border-bottom-0">
              <li class="nav-item">
              	<%= link_to "帳號管理", edit_user_registration_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
              	<%= link_to "支持紀錄", orders_path, class:"nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "追蹤提案", tracks_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
              	<%= link_to "提案紀錄", campaigns_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "最愛小農", favo_farmers_path, class:"nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="mb-6">
      <div class="d-flex justify-content-between">
        <div class="h5 font-weight-bold">
          <i class="fas fa-fw fa-exclamation-circle"></i> 取消或退款
        </div>
        <a class="d-block" href="/orders?locale=zh-TW">
          <i class="fas fa-fw fa-check-circle"></i> 支持成功
        </a>
      </div>
    </div>
  	<% @orders.each do |order|%>
      <div class="row mb-6">
        <div class="col-12 col-md-3 col-lg-2 mb-2 mb-md-0">
        	<%= link_to campaign_path(order.goody.campaign.slug), :class => "d-block position-relative mb-2" do %>
            <img class="img-fluid text-center" src="<%= order.goody.campaign.campaign_image.try(:campaign_path) %>" alt="">
          <% end %>
        </div>
        <div class="col-12 col-md-9 col-lg-10">
          <div class="row justify-content-between">
            <div class="col-12 col-md">
            	<%= link_to order.goody.campaign.title, campaign_path(order.goody.campaign.slug), :class => "item-title text-black"%>
            </div>
            <div class="col-12 col-md-4 col-lg-3 text-left text-md-right font-small"><%= order.created_at.strftime('%F')%></div>
          </div>
          <hr>
          <div class="row align-items-end">
            <div class="col-12 col-md-9 col-lg-10">
              <div class="text-row-1">
                <%= order.goody.title%> <span class="text-danger font-weight-bold ml-4">
                <%= number_to_currency("#{order.amount + order.bonus.to_i}", precision: 0) %></span>
              </div>
              <div class="text-muted">
                <small>
                  <span class="d-inline-block mr-5">
                    <i class="fas fa-fw fa-file-alt"></i> 支持編號：<%= order.number%>
                  </span>
                  <span class="d-inline-block mr-5">
                    <i class="fas fa-fw fa-credit-card"></i> 支持狀態：已取消
                  </span>
                  <span class="d-inline-block mr-5">
                    <i class="fas fa-fw fa-calendar-alt"></i> 預計達成時間：<%= order.goody.delivery_time.strftime('%F')%>
                  </span>
                  <span class="d-inline-block mr-5">
                    <i class="fas fa-fw fa-clock"></i> 取消時間：<%= order.updated_at.strftime('%F')%>
                  </span>
                </small>
              </div>
          	</div>
            <div class="col-12 col-md-3 col-lg-2">
              <%= link_to "查看", detail_order_path(order.id), :class => "btn btn-sm btn-block btn-outline-primary" %>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="text-muted">
            <small><%= render_campaign_status(order.goody.campaign)%></small>
          </div>
        </div>
      </div>
    <% end %>
    <% if @orders.size == 0 %>
      <div class="alert alert-secondary text-center py-10">
        沒有紀錄
      </div>
    <% end %>
    <nav class="mt-4">
      <ul class="pagination justify-content-center">
        <%= will_paginate @orders, :renderer => WillPaginateRenderer::WebPageRenderer %>
      </ul>
    </nav>
  </div>
</div>