<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-7">
          <h1 class="font-weight-bold">友善會員</h1>
          <div class="h3">支持紀錄</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid border-bottom mb-6 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="nav-responsive">
            <ul class="nav nav-tabs nav-justified border-bottom-0">
              <li class="nav-item">
                <%= link_to "帳號管理", edit_user_registration_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "支持紀錄", orders_path, class:"nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "追蹤提案", tracks_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "提案紀錄", campaigns_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "最愛小農", favo_farmers_path, class:"nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 order-last order-lg-first">
        <div class="mb-3">
          <%= link_to orders_path do %>
            <i class="fas fa-chevron-left"></i> 返回列表
          <% end %>
        </div>
        <% if @order.status == 2 %>
          <div class="jumbotron bg-light mb-10 py-6 text-center bs">
            <div class="display-4 font-weight-bold text-primary mb-2">
              <i class="fas fa-check"></i> 等待付款中
            </div>
            <hr class="my-4">
            <p class="lead font-weight-bold">只差一步就完成囉...</p>
            <p class="mb-10"><%= render_how_to_pay(@order.ecpay_payment_type)%></p>
            <% if @order.bank_code.present? %>
              <div class="form-control-plaintext">
                銀行代碼：<%= @order.bank_code %><br>
                ATM繳費帳號：<%= @order.vAccount %><br>
                繳費截止日期：<%= @order.expire_date %>
              </div>
            <% else %>
              <div class="form-control-plaintext">
                超商繳費代碼：<%= @order.payment_no %><br>
                繳費截止日期：<%= @order.expire_date %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @order.status == 3 && @order.evaluation.blank? %>
          <div class="jumbotron bg-light mb-10 py-6 text-center bs">
            <div class="display-4 font-weight-bold text-primary mb-2">
              <i class="fas fa-check"></i> 支持成功
            </div>
            <hr class="my-4">
            <p class="lead font-weight-bold">提案人想和你說...</p>
            <p class="mb-10"><%= raw @order.goody.campaign.order_success_html %></p>
            <p class="lead font-weight-bold">支持者的鼓勵</p>
            <%= form_for @order, :url => add_evaluation_order_path(@order), method: :post do |f| %>
              <div class="form-group">
                <label>請給您支持的提案更多鼓勵的話</label>
                <select class="form-control mb-2" id="def_text">
                  <option>預設的鼓勵</option>
                  <option value="我很期待，祝你成功！">我很期待，祝你成功！</option>
                  <option value="謝謝您為環境的努力！">謝謝您為環境的努力！</option>
                  <option value="辛苦了~請繼續加油！">辛苦了~請繼續加油！</option>
                  <option value="您的理念很棒！我支持您！">您的理念很棒！我支持您！</option>
                  <option value="很開心能參與這樣有意義的提案，謝謝！">很開心能參與這樣有意義的提案，謝謝！</option>
                </select>
                <%= f.text_area :evaluation, :class => "form-control mb-2", :placeholder => "自行輸入"%>
                <%=  f.submit "送出", :class => "btn btn-outline-primary" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @order.status == 4 %>
          <div class="card mb-3 border-danger">
            <div class="card-body">
              <div class="form-group">
                <label class="text-muted">退款說明</label>
                <div class="form-control-plaintext">有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”有機日日茶·抹茶粉“NODOKA”</div>
              </div>
              <div class="form-group">
                <a class="btn btn-outline-primary" href="">申請退款</a>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="form-group">
              <label class="text-muted">提案名稱</label>
              <div class="form-control-plaintext"><%= @order.goody.campaign.title %></div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <div class="form-group">
              <label class="text-muted">支持金額</label>
              <div class="form-control-plaintext"><%= number_to_currency("#{@order.amount + @order.bonus.to_i}", precision: 0) %></div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <div class="form-group">
              <label class="text-muted">付款方式</label>
              <div class="form-control-plaintext"><%= render_how_to_pay(@order.ecpay_payment_type)%></div>
            </div>
          </div>
        </div>
        <div class="card mb-3" id="info">
          <div class="card-body">
            <div class="form-group">
              <label class="text-muted">收件人</label>
              <div class="form-control-plaintext"><%= @order.supporter.first_name%></div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-10">
                <label class="text-muted">地址</label>
                <div class="form-control-plaintext"><%= @order.supporter.try(:city).try(:name)%> <%= @order.supporter.try(:district).try(:name)%> <%= @order.supporter.address%></div>
              </div>
              <div class="form-group col-md-2">
                <label class="text-muted">郵遞區號</label>
                <div class="form-control-plaintext"><%= @order.supporter.postal_code%></div>
              </div>
            </div>
            <div class="form-group">
              <label class="text-muted">手機號碼</label>
              <div class="form-control-plaintext"><%= @order.supporter.cell_phone%></div>
            </div>
            <div class="form-group">
              <label class="text-muted">聯絡信箱</label>
              <div class="form-control-plaintext"><%= @order.supporter.email%></div>
            </div>
            <div class="form-group">
              <label class="text-muted">備註</label>
              <div class="form-control-plaintext"><%= @order.remark%></div>
            </div>
            <div class="form-group">
              <label class="text-muted">
                匿名支持
              </label>
              <div class="form-text text-muted font-small">
                提案支持者以匿名方式顯示
              </div>
              <div class="form-control-plaintext"><%= render_is_anonymous(@order.anonymous)%></div>
            </div>
            <% if @order.status != 4 %>
              <div class="form-group">
                <%= link_to "變更資料", "##", :onclick => "change_info()", :class => "btn btn-outline-primary" if @order.goody.campaign.end_date >= Date.today %>
                <%#= link_to "前往付款", go_pay_order_path(@order.id), :class => "btn btn-primary" if @order.goody.campaign.end_date > Date.today && @order.paid == false %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mb-lg-0 mb-5">
        <div class="mb-3">
          <div class="h5 font-weight-bold">
            <i class="far fa-check-square"></i> 您支持的回饋項目
          </div>
        </div>
        <div class="item d-block mb-6">
          <div class="d-block position-relative text-center">
            <img class="img-fluid" src="<%= @order.goody.goody_image.try(:cover) %>" alt="">
          </div>
          <div class="p-2">
            <div class="text-black"><%= @order.goody.title%></div>
            <div class="text-danger font-weight-bold"><%= number_to_currency(@order.goody.price, precision: 0) %></div>
            <div class="text-muted mb-2">
              <small>
                <i class="fas fa-fw fa-file-alt"></i> 支持編號: <%= @order.number%><br>
                <i class="fas fa-fw fa-credit-card"></i> 支持狀態 : <%= render_is_paid(@order.goody.campaign, @order.goody.id, @order.id, @order.paid)%><br>
                <i class="fas fa-fw fa-calendar-alt"></i> 預計達成時間 : <%= @order.goody.delivery_time.strftime('%F')%>
              </small>
            </div>
          </div>
        </div>
        <%= mail_to @order.goody.campaign.email, "聯絡提案人", :class => "btn btn-outline-primary btn-block", :target => "_blank"%>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    function cancel(){
      location.reload();
    };
    function change_info(){
      url = '/orders/<%= params[:id]%>/edit';
      xmlHttp = new XMLHttpRequest();
      xmlHttp.open( "GET", url, false );
      xmlHttp.send( null );
      content = xmlHttp.responseText;
      $("#info").html(content);
    };
    $("#def_text").change(function(){
      tt = $("#def_text").val();
      $("#order_evaluation").val(tt);
    });

  </script>
<% end %>