<div class="container">
	贊助紀錄
	<hr >
	<table>
	  <tr>
	    <th>專案名稱</th>
	    <th>商品</th> 
	    <th>金額</th>
	    <th>單號</th>
	    <th>付款狀態</th>
	    <th>成立日期</th>
	    <th>付款方式</th>
	    <th>付款日期</th>
	  </tr>
	  <% @orders.each do |order|%>
		  <tr>
		  	<% if order.goody.campaign.is_active? or order.paid %>
			    <td><%= link_to order.goody.campaign.title, campaign_path(order.goody.campaign.slug)%></td>
			    <td><%= order.goody.title%></td> 
			    <td><%= number_to_currency("#{order.amount + order.bonus.to_i}", precision: 0) %></td>
			    <td><%= order.number%></td>
			    <td><%= render_is_paid(order.goody.campaign.id, order.goody.id, order.id, order.paid)%></td>
			    <td><%= order.created_at.strftime('%F')%></td>
			    <td><%= render_how_to_pay(order.ecpay_payment_type)%></td>
			    <td><%= order.payment_date%></td>
			  <% end %>
		  </tr>
		<% end %>
	</table>
</div>