<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container mb-3">
    <div class="row">
      <div class="col-12">
        <div class="text-center mb-10">
          <div class="h3 text-success"><%= @goody.campaign.title %></div>
          <%= link_to user_path(@goody.campaign.user.id), :class => "font-small" do %>
            <i class="far fa-user"></i> <%= @goody.campaign.user.user_profile.nickname%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 order-last order-lg-first">
        <% if is_goody_active?(@goody) == ''%>
          <%= form_for @order, :url => campaign_goody_orders_path(@goody.campaign, @goody) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="card mb-3">
              <div class="card-body">
                <div class="form-group">
                  <label for="formPay">付款方式</label>
                  <div class="form-row">
                    <div class="col-12 col-sm-6 mb-2">
                      <div class="custom-control custom-radio custom-button">
                        <%= f.radio_button :payment_type, 'ecpay', :class=> "custom-control-input", :onClick =>"settip('支援多重付款方式')", :checked => true%>
                        <label class="custom-control-label" for="order_payment_type_ecpay">第三方支付</label>
                      </div>
                    </div>
                  </div>
                  <small class="form-text text-muted" id="paytip"></small>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="form-group">
                  <label>支持金額</label><br />
                  <%= number_to_currency(@goody.price, precision: 0)%>
                </div>
                <div class="form-group">
                  <label>我願意提供更多支持</label>
                  <%= f.text_field :bonus, :class => "form-control", value: '0', min: '0', step: 'any', :placeholder => "請輸入金額" %>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <%= f.fields_for :supporter do |s| %>
                  <%= s.hidden_field :country, value: "TW" %>
                  <div class="form-group">
                    <label for="formName" class="d-flex justify-content-between">
                      收件人
                      <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-sm fa-question-circle"></i>
                      </span>
                    </label>
                    <%= s.text_field :first_name, value: @last_order.try(:supporter).try(:first_name), :class => "form-control", :placeholder => "請輸入姓名" %>
                  </div>
                  <div class="form-group">
                    <label for="formCountry" class="d-flex justify-content-between">
                      縣市
                      <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-sm fa-question-circle"></i>
                      </span>
                    </label>
                    <%= s.text_field :city, value: @last_order.try(:supporter).try(:city), :class => "form-control", :placeholder => "請輸入縣市" %>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-10">
                      <label for="formAddress" class="d-flex justify-content-between">
                        地址
                      </label>
                      <%= s.text_field :address, value: @last_order.try(:supporter).try(:address), :class => "form-control", :placeholder => "請輸入地址" %>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="formNum" class="d-flex justify-content-between">
                        郵遞區號
                        <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                          <i class="far fa-sm fa-question-circle"></i>
                        </span>
                      </label>
                      <%= s.text_field :postal_code, value: @last_order.try(:supporter).try(:postal_code), :class => "form-control" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="formPhone" class="d-flex justify-content-between">
                      聯絡電話
                      <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-sm fa-question-circle"></i>
                      </span>
                    </label>
                    <%= s.text_field :cell_phone, value: @last_order.try(:supporter).try(:cell_phone), :class => "form-control", :placeholder => "請輸入電話" %>
                  </div>
                  <div class="form-group">
                    <label for="formMail" class="d-flex justify-content-between">
                      聯絡信箱
                      <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-sm fa-question-circle"></i>
                      </span>
                    </label>
                    <%= s.text_field :email, value: current_user.email, :class => "form-control" %>
                    <p id ="email_format" style="font-size: 10px;color: red;"></p>
                  </div>
                <% end %>
                <div class="form-group">
                  <label for="formNote" class="d-flex justify-content-between">
                    備註
                    <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                      <i class="far fa-sm fa-question-circle"></i>
                    </span>
                  </label>
                  <%= f.text_area :remark, :class => "form-control"  %>
                </div>
                <%- unless @goody.campaign.order_description.blank? %>
                  <div class="form-group">
                    <label>支持注意事項</label>
                    <small class="form-text text-muted">
                      <%= raw @goody.campaign.order_description_html %>
                    </small>
                  </div>
                <% end %>
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <%= f.check_box :agreement, required: true, class: "custom-control-input" %>
                    <label class="custom-control-label" for="order_agreement">
                      我已同意<%= link_to "<u>網站使用條款</u>".html_safe, terms_path, :target => "_blank"%>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <%= f.check_box :anonymous, :class => "custom-control-input" %>
                    <label class="custom-control-label" for="order_anonymous">
                      匿名支持<br><small class="text-muted">不顯示公開的會員資料</small>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <%= f.submit "立即付款支持", class: "btn btn-primary", :onclick => "return validate_all();" %>
            <!-- <div class="alert alert-secondary mt-3">
              當提案達目標金額100000元時，將進行結算。則10月31日23:00之前若沒有達到100000元的目標金額，將不進行結算，您所支持的金額將獲得退款，並會扣除手續費用。
            </div> -->
          <% end %>
        <% else %>
          <div class="card mb-3">
            <div class="card-body">
              <div class="form-group">
                尚未開始，或已經結束。
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-lg-4 mb-lg-0 mb-5">
        <div class="mb-3">
          <div class="h5 font-weight-bold">
            <i class="far fa-check-square"></i> 您支持的回饋項目
          </div>
        </div>
        <div class="item d-block mb-6">
          <div class="d-block position-relative text-center">
            <img class="img-fluid" src="<%= @goody.goody_image.try(:cover) %>" alt="">
          </div>
          <div class="p-2">
            <div class="text-black">
              <%= @goody.title %>
            </div>
            <div class="text-danger font-weight-bold"><%= number_to_currency(@goody.price, precision: 0) %></div>
            <div class="text-muted mb-2">
              <small>
                <div class="text-row-2"><%= @goody.description %></div>
                <i class="fas fa-fw fa-check"></i> 剩餘數量：<%= @goody.remaining_quantity %><br>
                <i class="fas fa-fw fa-user"></i> 支持者：<%= @goody.orders_count %><br>
                <i class="fas fa-fw fa-truck"></i> 預計送達 : <%= @goody.delivery_time.strftime("%Y年%m月") %>
              </small>
            </div>
          </div>
        </div>
        <%= link_to "更改回饋", campaign_goodies_path(@goody.campaign.slug), :class => "btn btn-outline-primary btn-block"%>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    function settip(setting) {
      myOption = setting;
      document.getElementById("paytip").innerHTML = myOption;
    }
  </script>
  <script>
  $(document).ready(function() {
    $('#order_bonus').keyup(function () {
      this.value = this.value.replace(/[^\d]/g, '');
    });
    $('#order_supporter_attributes_email').change(function () {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if(re.test(String($('#order_supporter_attributes_email').val()).toLowerCase()) == false ){
        $('#order_supporter_attributes_email').val("");
        $("#email_format").html("格式錯誤");
      }
      else{
       $("#email_format").html(""); 
      }
    });
  });
  function validateForm(){
    var is_read_checkbox = document.getElementById("order_agreement");
    if (is_read_checkbox.checked == false){
      alert_a = '付款前請確定您已閱讀服務條款';
      alert(alert_a);
    }
    return is_read_checkbox.checked ;
  };
  function PaymentType(){
    var payment_type = document.querySelector('input[name="order[payment_type]"]:checked');
    if (payment_type== null){
      alert("請選擇付款方式");
      return false
    }else{return true}
  };
  function CheckAllInput(){
    if($("#order_supporter_attributes_first_name").val()==""){
      alert('名字，未填寫');
      return false
    }else if($("#order_supporter_attributes_last_name").val()==""){
      alert('姓氏，未填寫');
      return false
    }else if($("#order_supporter_attributes_address").val()==""){
      alert('地址，未填寫');
      return false
    }else if($("#order_supporter_attributes_cell_phone").val()==""){
      alert('手機，未填寫');
      return false
    }else if($("#order_supporter_attributes_postal_code").val()==""){
      alert('郵遞區號，未填寫');
      return false
    }else if($("#order_supporter_attributes_city").val()==""){
      alert('區域，未填寫');
      return false
    }else{
      return true
    }
  };
  function validate_all(){
    if (CheckAllInput()==true && validateForm()==true && PaymentType()==true){
      return true;
    }else{
      return false;
    }
  };
  </script>
<% end %>