<% content_for :main_content_class do %>bg_grey<% end %>

<div class="container">
  <div class="mid_box">
    <div class="top_section mb-4">
      <h1><%= t('.confirmation') %></h1>
      <p>
        贊助項目： <strong><%= @goody.title %></strong>.
      </p>
      <p>
        贊助內容： <strong><%= @goody.description %></strong>.
      </p>
      <p>
        <%= raw t('.i_hereby_acknowledge', price: @goody.price, currency: "TWD") %>
      </p>
    </div>

    <%= simple_form_for [@goody.campaign, @goody, @order] do |f| %>
      <%= f.input :user_id, :as => :hidden, input_html: {value: current_user.id} %>
      <%= f.simple_fields_for :supporter do |s| %>
        <div class="row">
          <div class="col-sm-6">
            <%= s.input :first_name, label: t('.first_name'), input_html: {value: current_user.user_profile.first_name} %>
          </div>
          <div class="col-sm-6">
            <%= s.input :last_name, label: t('.last_name'), input_html: {value: current_user.user_profile.last_name} %>
          </div>
        </div>
        <%= s.input :email, label: t('.email'), input_html: {value: current_user.email} %>
        <%= s.input :address, label: t('.street'), input_html: {value: current_user.user_profile.address} %>
        <div class="row">
          <div class="col-sm-6">
            <%= s.input :tel, label: "室話", input_html: {value: current_user.user_profile.tel} %>
          </div>
          <div class="col-sm-6">
            <%= s.input :cell_phone, label: "手機", input_html: {value: current_user.user_profile.cell_phone} %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= s.input :postal_code, label: t('.postal_code'), input_html: {value: current_user.user_profile.postal_code} %>
          </div>
          <div class="col-sm-8">
            <%= s.input :city, label: t('.city'), input_html: {value: current_user.user_profile.city} %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= s.input :state, label: t('.state'), input_html: {value: current_user.user_profile.state} %>
          </div>
          <div class="col-sm-8">
            <%= s.input :country, :as => :hidden, input_html: {value: "TW"} %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-4">
          額外贊助
        </div>
        <div class="col-sm-8">
          <%= number_field_tag 'bonus' %>
        </div>
      </div>
      <%- unless @goody.campaign.order_description.blank? %>
        <div class="jumbotron mt-4" id="campaign_order_description">
          <%= raw @goody.campaign.order_description_html %>
        </div>
      <% end %>

      <div class="text-right mb-4">
        <%= f.input :agreement, required: true, label: t('.i_agree').html_safe, input_html: { class: "qa-agreement" } %>
      </div>
      <div class="text-center">
        <%= f.submit t(".create_order"), class: "qa-submit btn btn_theme btn_wide" %>
      </div>
    <% end %>
  </div>
</div>
