<% content_for :main_content_class do %>bg_grey<% end %>


<div class="container">
  <div class="mid_box text-center">
    <div>
      <%#= image_tag('/success.svg') %>
      <i class="fa fa-credit-card-alt fa-5" style="font-size: 12em" aria-hidden="true"></i>
    </div>
    <h1>選擇付款方式</h1>
    <hr />
    <p class="encouragement">
      <%= t('.text') %>
    </p>
    <p>
      <%= t('.bought_package') %>
      <b> <%= @goody.title %> </b>.
    </p>
    <%= link_to "付款去", finished_orders_path, :class => "btn btn-default"%>
    <%- unless @goody.campaign.order_success.blank? %>
      <p>
        <%= raw @goody.campaign.order_success_html %>
      </p>
    <% end %>
    <p class="go-back">
      <%#= link_to "<i class=\"fa fa-arrow-left\" aria-hidden=\"true\"></i> #{t('.back_to_campaign')}"
          .html_safe,
          @goody.campaign %>
    </p>
  </div>
</div>
