<% if @campaign_reply.parent_id == 0%>
	$("#new_reply").append("<div style='font-weight: bold'><a href='/users/<%= @campaign_reply.user.id %>?locale=zh-TW'><%= @campaign_reply.user.user_profile.nickname%></a> 於 <%= @campaign_reply.created_at.strftime('%F') %><p><%= @campaign_reply.content %></p></div>" );
	$("#campaign_reply_content").val("");
<% else %>
	$("#reply_<%= @campaign_reply.parent_id %>").append("<div class='text-right' style='font-size: 0.875rem;background-color: #f4f4f4;padding: 1rem;'><%= @campaign_reply.content %><br><a href='/users/<%= @campaign_reply.user.id %>?locale=zh-TW'>teddyswu18</a> 於 <%= @campaign_reply.created_at.strftime('%F') %></div>" );
	$(".reply_<%= @campaign_reply.parent_id %>").val("");
<% end %>