<hr class="mb-5">
<div class="media px-3">
  <img class="img-fluid rounded-circle mr-3" src="<%= @campaign.user.authorizations.present? ? "https://graph.facebook.com/#{@campaign.user.authorizations[0].uid}/picture" : "https://help.lebara.com/assets/images/fdecb4bb.profile.jpg"%>" alt="" style="width: 50px">
  <div class="media-body">
    <%= form_for campaign_qa, :url => campaign_qas_path(campaign_qa), :method => :post do |f| %>
      <%= f.hidden_field :campaign_id, :value => @campaign.id%>
      <%= f.text_field(:campaign_question, :class => "form-control mb-2", :placeholder => "請填寫問題")%>
      <%= f.text_area(:campaign_answer, :class => "form-control mb-2", :placeholder => "請填寫答案", :rows => "8")%>
      <button class="btn btn-outline-primary">送出</button>
    <% end %>
  </div>
</div>