<div id="new_reply">
</div>
<% campaign_replies.each do |crp|%>
	<div class="border p-3 mb-6">
	  <div class="media">
	    <img class="img-fluid rounded-circle mr-3" src="<%= crp.user.authorizations.present? ? "https://graph.facebook.com/#{crp.user.authorizations[0].uid}/picture" : "https://help.lebara.com/assets/images/fdecb4bb.profile.jpg"%>" alt="" style="width: 50px">
	    <div class="media-body">
	      <div class="row">
	        <div class="col">
	        	<%= link_to crp.user.user_profile.nickname, user_path(crp.user.id) %>
	        	<%= render_is_sponsor(sponsor_ids, crp.user.id)%>
	        	<%= render_is_proposer(@campaign.user_id, crp.user.id)%>
	        </div>
	        <div class="col">
	          <div class="text-right text-muted">
	            <small><%= crp.created_at.strftime('%F')%></small>
	          </div>
	        </div>
	      </div>
	      <p><%= crp.content %></p>
	      <% sub_replys = data_filter(sub_replies, "parent_id", crp.id) %>
			  <% sub_replys.each do |sub_reply| %>
			  	<div class="media">
		        <img class="img-fluid rounded-circle mr-3" src="<%= sub_reply.user.authorizations.present? ? "https://graph.facebook.com/#{sub_reply.user.authorizations[0].uid}/picture" : "https://help.lebara.com/assets/images/fdecb4bb.profile.jpg"%>" alt="" style="width: 50px">
		        <div class="media-body">
		          <div class="row">
		            <div class="col">
		              <%= link_to sub_reply.user.user_profile.nickname, user_path(sub_reply.user.id) %>
		              <%= render_is_sponsor(sponsor_ids, sub_reply.user.id)%>
		              <%= render_is_proposer(@campaign.user_id, sub_reply.user.id)%>
		            </div>
		            <div class="col">
		              <div class="text-right text-muted">
		                <small><%= sub_reply.created_at.strftime('%F')%></small>
		              </div>
		            </div>
		          </div>
		          <p><%= sub_reply.content%></p>
		        </div>
		      </div>
			  <% end %>
        <% if user_signed_in? %>
        	<div id="reply_<%= crp.id %>"></div>
        	<%= form_for campaign_reply, :url => campaign_replies_path(campaign_reply), :method => :post, :html => {:class => 'form-horizontal'}, :remote => true, :authenticity_token => true do |f| %>
		  			<%= f.hidden_field :user_id, :value => current_user.id%>
		  			<%= f.hidden_field :campaign_id, :value => @campaign.id%>
		  			<%= f.hidden_field :parent_id, :value => crp.id%>
		  			<%= f.hidden_field :enabled, :value => true %>
		  			<div class="form-row align-items-center">
	          	<div class="col">
	          		<%= f.text_area(:content, :class => "form-control mb-2 reply_#{crp.id}", :placeholder => "回覆這則留言")%>
			    		</div>
		          <div class="col-auto">
		            <button class="btn btn-outline-primary mb-2">送出</button>
		          </div>
		        </div>
		  		<% end %>
        <% end %>
	    </div>
	  </div>
	</div>
<% end %>