<div class="media px-3">
  <img class="img-fluid rounded-circle mr-3" src="<%= current_user.authorizations.present? ? "https://graph.facebook.com/#{current_user.authorizations[0].uid}/picture" : "https://help.lebara.com/assets/images/fdecb4bb.profile.jpg"%>" alt="" style="width: 50px">
  <div class="media-body">
    <%= form_for campaign_reply, :url => campaign_replies_path(campaign_reply), :method => :post, :remote => true, :authenticity_token => true do |f| %>
      <%= f.hidden_field :campaign_id, :value => @campaign.id%>
      <%= f.hidden_field :enabled, :value => true %>
      <%= f.hidden_field :user_id, :value => current_user.id%>
      <%= f.text_area(:content, :class => "form-control", :rows => "4", :placeholder => "留言")%>
      <button class="btn btn-outline-primary">送出</button>
    <% end %>
  </div>
</div>