<%= form_for campaign_reply, :url => campaign_replies_path(campaign_reply), :method => :post, :html => {:class => 'form-horizontal'} do |f| %>
	<div class="row form-group">
		<%= f.hidden_field :campaign_id, :value => @campaign.id%>
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <div class="col col-md-3">
      <%= f.label("留言", :class => 'form-control-label') %>
    </div>
    <div class="col-12 col-md-9">
      <%= f.text_area(:content, :class => "form-control")%>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary btn-sm">
      <i class="fa fa-dot-circle-o"></i> Submit
    </button>
    <button type="reset" class="btn btn-danger btn-sm">
      <i class="fa fa-ban"></i> Reset
    </button>
  </div>
<% end %>