<% campaign_updates.each_with_index do |cup, i|%>
	<div class="border p-3 mb-6">
	  <div class="lead font-weight-bold">
	  	<%= cup.campaign_title %>
	  	<% if user_signed_in? %>
      	<% if current_user.id == @campaign.user_id%>
	    		<%= link_to "編輯", "##", :onclick => "window.open('#{edit_campaign_update_path(cup.id)}', '編輯', config='height=500,width=500');"%>
	    	<% end %>
	    <% end %>
	  </div>
	  <div class="text-muted"><small><%= cup.created_at.strftime('%F %H:%M') %></small></div>
	  <%= truncate(strip_tags(cup.campaign_content), length: 50)%>
	  <%= link_to "繼續閱讀", campaign_update_detail_path(@campaign.slug, cup.id, anchor: "menu"), :class => "btn btn-sm btn-outline-primary" %>
	</div>
<% end %>