<% campaign_updates.each_with_index do |cup, i|%>
	<div style="font-size: 0.875rem">
	  <div style="font-weight: bold" <%= "id=top" if i == 0%>>
	    <%= cup.created_at.strftime('%F') %> <%= cup.campaign_title %>
      <% if user_signed_in? %>
      	<% if current_user.id == @campaign.user_id%>
	    		<%= link_to "編輯", "##", :onclick => "window.open('#{edit_campaign_update_path(cup.id)}', '編輯', config='height=500,width=500');"%>
	    	<% end %>
	    <% end %>
	  </div>
	  <div style="font-size: 0.875rem;background-color: #f4f4f4;margin-top: 0.5rem;padding: 1rem;">
	    <%= cup.campaign_content.html_safe%>
	  </div>
	</div>
<% end %>