<script src="/ckeditor/ckeditor.js"></script>

<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-success mb-10">
          <div class="h1 font-weight-bold">編輯提案</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid border-bottom mb-6 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="nav-responsive">
            <ul class="nav nav-tabs nav-justified border-bottom-0">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-create1" role="tab">提案設定</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-create2" role="tab">撰寫提案</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-create3" role="tab">提案人資料</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-create4" role="tab">小農隊</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= form_for @campaign, :url => campaign_path(@campaign.slug), :method => :patch, :validation => true, :html => {:class => 'container tab-content'} do |f| %>
    <div class="tab-pane fade show active" id="tab-create1">
      <div class="mb-3 font-small text-muted">
        設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案
      </div>
      <div class="form-group">
        <%= f.label :goal, "資金目標" %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <%= f.number_field :goal, :class => "form-control", :required => true %>
        </div>
        <div class="form-text text-muted font-small">
          資金目標並無設限，但應能啟動提案為門檻。
        </div>
      </div>
      <div class="form-group">
        <label>提案期間</label>
        <div class="form-row input-daterange" id="datepicker">
          <div class="col">
            <small class="text-muted">開始日期</small>
            <%= f.text_field :start_date, :class => "form-control", :required => true %>
          </div>
          <div class="col">
            <small class="text-muted">結束日期</small>
            <%= f.text_field :end_date, :class => "form-control", :required => true %>
          </div>
        </div>
        <div class="form-text text-muted font-small">
          系統預設開始時間為當日中午12點整，結束時間為當日傍晚24點整；最長不可超過90天。
        </div>
      </div>
      <div class="form-group">
        <label>提案名稱</label>
        <%= f.text_field :title, :class => "form-control", :required => true %>
        <div class="form-text text-muted font-small">
          不超過XX字，請輸入有核心理念引人注意的標題，非必要，審核後將不得變更。
        </div>
      </div>
      <div class="form-group">
        <label>提案關鍵字</label>
        <%= f.text_field :slug, :class => "form-control", :required => true %>
        <div class="form-text text-muted font-small">
          請輸入一組英文名稱、或由英文+數字組合的名稱，不能輸入其它符號或空格，這組名稱將作為您的提案短網址使用。
        </div>
      </div>
      <div class="form-group">
        <label>提案摘要</label>
        <%= f.text_area :claim, :class => "form-control", :rows => "4" %>
        <div class="form-text text-muted font-small">
          不超過XX字，重點說明你的目標以及理念，強調不同之處，讓支持人對你或你的提案感號喜好。
        </div>
      </div>
      <div class="form-group">
        <label>標籤類別</label>
        <div>
          <% @campaign_tags.each do |ct| %>
            <div class="custom-control custom-checkbox custom-control-inline">
              <%= check_box_tag "tag_ids[]", ct.id, @campaign_tag_ship.include?(ct.id)%>
              <%= ct.name%>
            </div>
          <%end%>
        </div>
        <div class="form-text text-muted font-small">
          請勾選屬於您提案的類別，可複選，若無則可不勾選。
        </div>
      </div>
      <div class="form-group">
        <label>提案封面</label>
          <%= f.fields_for :campaign_image, @campaign.input_campaign_image do |i|%>
            <%= i.file_field :file, :class => "form-control"%>
          <% end %>
        <div class="form-text text-muted font-small">
          請提供 JPEG、PNG檔，圖片尺寸至少 1024 x 768 px (4:3)；檔案大小 2MB 以內，若不修改請勿上傳。
        </div>
      </div>
      <div class="form-group">
        <%= f.label :youtube_url, "YouTube影片" %><%= f.text_field :youtube_url, :class => "form-control" %>
        <div class="form-text text-muted font-small">
          影片時間建議100百秒左右，建議在上傳YouTube時先設定好影片封面。
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tab-create2">
      <div class="mb-3 font-small text-muted">
        設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案
      </div>
      <div class="form-group">
        <%= f.label :description_html, "提案內容" %>
        <%= f.text_area :description_html, rows: 4, :class => "form-control", :required => true %>
        <div class="form-text text-muted font-small">
          <ol class="pl-4">
            <li>建議圖片寬度為 697 px，單張圖檔不超過 2 MB，圖片中文字不得小於16字級。</li>
            <li>平台有最終保留權力，如果您所提供的資訊過少，或無法證明的真實性、可行性，提案則無法上架。</li>
          </ol>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :order_description_html, "支持注意事項" %>
        <%= f.text_area :order_description_html, rows: 4, :class => "form-control" %>
        <div class="form-text text-muted font-small">
          <ol class="pl-4">
            <li>若需要補充贊助時注意事項請在此說明，如回饋商品的款式、顏色、尺寸等，若無則系統預設如下。(系統預設則為<a href="http://prntscr.com/l69hl6" target="_blank">http://prntscr.com/l69hl6</a>)</li>
            <li>若需要補充贊助後注意事項請在此說明，如回饋商品的換貨、退款、發票等，若無則系統預設如下圖。</li>
          </ol>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :risk, "風險與承諾" %><%= f.text_area :risk, rows: 4, :class => "form-control" %>
        <div class="form-text text-muted font-small">
          提案中可能遇到許多變數，請清楚條例出備案及辦法，降低支持者疑慮。<br>
          範例參考：
          <ol class=" pl-4">
            <li>募資成功後，預計oo月開始採收期，製程至包裝到出貨預計為期oo週。</li>
            <li>收到貨後時，請先檢查是否有碰撞造成損毀，如有出現狀況，請立即與我們聯繫。</li>
            <li>天災及不可抗力因素（如：颱風、豪大雨、病蟲害），將會延遲出貨。</li>
            <li>同上，若導致產量銳減無法順利出貨，將會進行通知並退費給支持者。</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tab-create3">
      <div class="mb-3 font-small text-muted">
        設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案
      </div>
      <div class="form-group">
        <%= f.label :name, "提案者姓名" %>
        <%= f.text_field :name, :class => "form-control", :required => true %>
        <div class="form-text text-muted font-small">
          本平台提案人需作身份核實，請務必填寫您的真實姓名。
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, "聯絡信箱" %>
        <%= f.text_field :email, :class => "form-control", :required => true %>
        <div class="form-text text-muted font-small">
          請確保專案經理聯絡到您，以及提案中支持者的來信都將透過此信箱。
        </div>
      </div>
      <div class="form-group">
        <%= f.label :phone, "手機號碼" %>
        <%= f.text_field :phone, :class => "form-control", :required => true %>
        <div class="form-text text-muted font-small">
          請確保專案經理聯絡到您，以及提案中支持者的來信都將透過此信箱。
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :facebook_url, "提案粉專" %>
        <%= text_field_tag :facebook_url, current_user.user_profile.facebook_url, :class => "form-control" %>
        <div class="form-text text-muted font-small">
          請輸入與提案相關的FB粉專，請貼上完整網址。
        </div>
      </div>
      <div class="form-group">
        <%= f.label :self_introduction, "自我介紹" %>
        <%= f.text_area :self_introduction, :class => "form-control", :rows => "4", :required => true %>
        <div class="form-text text-muted font-small">
          不超過XX字，最長不超過xx字
        </div>
      </div>
      <div class="form-group">
        <%= f.label :order_success_html, "給支持者的話" %>
        <%= f.text_area :order_success_html, rows: 4, :class => "form-control" %>
        <div class="form-text text-muted font-small">
          不超過XX字，最長不超過xx字
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tab-create4">
      <div class="mb-3 font-small text-muted">
        設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案設定提醒文案
      </div>
      <div class="form-row mb-6">
        <div class="col-12 col-lg-4 my-2">
          <%= select_tag :group_id, '<option value=''>選擇隊伍</option>'.html_safe + options_for_select(@farmer_group), :class => "custom-select", :onchange=> "change_user_id();"%>
        </div>
        <div class="col-12 col-lg-4 my-2">
          <select class="custom-select" id="campaign_groups_user_id">
            <option>選擇小農</option>
          </select>
        </div>
        <div class="col-12 col-lg-2 my-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" placeholder="合作收益" id="income">
          </div>
        </div>
        <div class="col-12 col-lg-2 my-2">
          <a class="btn btn-block btn-outline-primary" href="javascript: add_farmer()">新增</a>
        </div>
      </div>
      <div class="h6 font-weight-bold mb-3">參與合作的小農</div>
      <div style="display:none" id="number"><%= @campaign.campaign_groups.size%></div>
      <table class="table table-rwd table-striped">
        <tbody id="farmer_list">
          <% @campaign.campaign_groups.each_with_index do |group, i| %>
            <tr id="div_<%= i%>">
              <input value="<%= group.user_id %>" type="hidden" name="campaign_groups[<%= i%>][user_id]">
              <input value="<%= group.income %>" type="hidden" name="campaign_groups[<%= i%>][income]">
              <td class="td-head align-middle" data-label="隊伍"><%= group.user.farmer_profile.ps_group %></td>
              <td class="text-lg-center align-middle" data-label="小農"><%= group.user.farmer_profile.name %></td>
              <td class="text-lg-center align-middle" data-label="合作收益"><%= "$#{group.income}" %></td>
              <td class="text-lg-right">
                <div class="btn-group btn-group-sm">
                  <a class="btn btn-outline-primary" href="javascript: del_farmer(<%= i%>)">移除</a>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck-agree">
          <label class="custom-control-label" for="customCheck-agree">
            我已同意<a href="" target="_blank"><u>網站使用條款</u></a> 及 <a href="project-contract.html" target="_blank"><u>提案合約書</u></a>
          </label>
        </div>
      </div>
      <%= f.submit "儲存與檢查", :class => "btn btn-primary px-10", :onclick => "return validate_all();" %>
      <a class="btn btn-outline-secondary px-10" href="">取消</a>
    </div>
  <% end %>
</div>
<% content_for :javascript do %>
  <script>
    CKEDITOR.replace( 'campaign_risk' );
    CKEDITOR.replace( 'campaign_description_html' );
    CKEDITOR.replace( 'campaign_order_description_html' );
    CKEDITOR.replace( 'campaign_order_success_html' );
    function change_user_id(){
      jQuery.get("<%= group_edit_campaign_path(1) %>", { group_name : jQuery('#group_id').val() },
    null, "script");
    }
    function add_farmer(){
      var Group = $("#group_id").val();
      var name = $("#campaign_groups_user_id :selected").text();
      var user_id = $("#campaign_groups_user_id").val();
      var income = $("#income").val();
      var number = $("#number").text();
      $("#farmer_list").append("<tr id=\"div_" + number + "\"><input value=\""+ user_id +"\" type=\"hidden\" name=\"campaign_groups["+number+"][user_id]\"><input value=\"" + income +"\" type=\"hidden\" name=\"campaign_groups["+number+"][income]\"><td class=\"td-head align-middle\" data-label=\"隊伍\">" + Group + "</td><td class=\"text-lg-center align-middle\" data-label=\"小農\">" + name + "</td><td class=\"text-lg-center align-middle\" data-label=\"合作收益\">$" + income + "</td><td class=\"text-lg-right\"><div class=\"btn-group btn-group-sm\"><a class=\"btn btn-outline-primary\" href=\"javascript: del_farmer("+ number + ")\" >移除</a></div></td></tr>");
      var n = parseInt($("#number").text());
      $("#number").text(n+1);
    }
    function del_farmer(id){
      var node = "div_" + id;
      $("#" + node).remove();
    }
    function form_one(){
      var fields = "1. 提案設定\n";
      var chun = 0;
      if($("#campaign_goal").val() == ""){ fields += "資金目標\n";chun+=1};
      if($("#campaign_start_date").val()==""){fields += "開始日期\n";chun+=1};
      if($("#campaign_start_date").val()==""){fields += "結束日期\n";chun+=1};
      if($("#campaign_slug").val()==""){fields += "提案關鍵字\n";chun+=1};
      if($("#campaign_claim").val()==""){fields += "提案摘要\n";chun+=1};
      if($('input[id=tag_ids_]:checked').length == 0){fields += "標籤類別\n";chun+=1};
      if(chun==0){return true;}else{return fields;}
    }
    function form_two(){
      var fields = "2. 攥寫提案\n";
      var chun = 0;
      if(CKEDITOR.instances['campaign_description_html'].getData() == ""){ fields += "提案內容\n";chun+=1};
      if(CKEDITOR.instances['campaign_order_description_html'].getData() == ""){ fields += "支持注意事項\n";chun+=1};
      if(CKEDITOR.instances['campaign_risk'].getData() == ""){ fields += "風險與承諾\n";chun+=1};
      if(chun==0){return true;}else{return fields;}
    }
    function form_three(){
      var fields = "3. 提案人資料\n";
      var chun = 0;
      if($("#campaign_name").val() == ""){ fields += "提案者姓名\n";chun+=1};
      if($("#campaign_email").val() == ""){ fields += "聯絡信箱\n";chun+=1};
      if($("#campaign_phone").val() == ""){ fields += "手機號碼\n";chun+=1};
      if($("#campaign_self_introduction").val() == ""){ fields += "自我介紹\n";chun+=1};
      if(CKEDITOR.instances['campaign_order_success_html'].getData() == ""){ fields += "提案內容\n";chun+=1};
      if(chun==0){return true;}else{return fields;}
    }
    function form_four(){
      var fields = "4. 小農隊\n";
      var chun = 0;
      if($("[name='campaign_groups[0][income]']").val()==undefined){ fields += "參與合作的小農\n";chun+=1};
      if($('input[id=customCheck-agree]:checked').length == 0){fields += "是否同意\n";chun+=1};
      if(chun==0){return true;}else{return fields;}
    }
    function validate_all(){
      var fields = "請填寫以下欄位:\n"
      var chun = 0;
      if (form_one()!=true){ fields += form_one(); chun+=1; };
      if (form_two()!=true){ fields += form_two(); chun+=1; };
      if (form_three()!=true){ fields += form_three(); chun+=1; };
      if (form_four()!=true){ fields += form_four(); chun+=1; };
      if (chun==0){return true;}else{alert(fields);return false;};
    }
    $( "#campaign_slug" ).change(function() {
      $.get("<%= check_slug_campaigns_path %>", { slug: $( "#campaign_slug" ).val() },
      function(data){
        if(data == true){ $( "#campaign_slug" ).val("") }
      });
    });
  </script>
<% end %>