<div class="container">
	<%= @campaign.title %>
	<hr >
	<% @campaign.goodies.each do |goody|%>
	  <%= goody.title%>
	  <table>
		  <tr>
		    <th>名字</th>
		    <th>地址</th> 
		    <th>電話</th>
		    <th>手機</th>
		  </tr>
		  	<% goody.orders.each do | order|%>
		  		<tr>
		  			<td><%= order.supporter.last_name%><%= order.supporter.first_name%></td>
		  			<td><%= order.supporter.postal_code%> <%= order.supporter.city%> <%= order.supporter.state%> <%= order.supporter.address%></td>
		  			<td><%= order.supporter.tel%></td>
		  			<td><%= order.supporter.cell_phone%></td>
		  		</tr>
		  	<% end %>
    </table>
	<% end %>
</div>