<script src="/ckeditor/ckeditor.js"></script>
<div class="container">
	<div class="mid_box">
		<div class="top_section mb-4">
			<h1>提交提案</h1>
			<p>需審核需審核需審核需審核需審核需審核需審核</p>
		</div>
		<%= form_for @campaign, :url => campaigns_path(@campaign), :method => :post, :html => {:class => 'form-horizontal'} do |f| %>
			<div class="form-group">
				<%= f.label :title, "標題" %><%= f.text_field :title, :class => "form-control" %>
        <%= f.label("類別", :class => 'form-control-label') %>
        <% @campaign_tags.each do |ct| %>
          <li>
            <%= check_box_tag 'tag_ids[]', ct.id %><%= ct.name%>
          </li>
        <%end%>
				<%= f.label :claim, "聲言" %><%= f.text_area :claim, :class => "form-control" %>
      </div>
      <div class="row">
        <div class="col-sm-6">
      		<%= f.label :goal, "目標金額" %><%= f.number_field :goal, :class => "form-control" %>
      	</div>
      	<div class="col-sm-6">
      		<%= f.label :email, "Email" %><%= f.text_field :email, :class => "form-control" %>
      	</div>
      </div>
      <div class="row">
        <div class="col-sm-6">
      		<%= f.label :start_date, "開始時間" %><%= f.date_field :start_date, :class => "form-control" %>
      	</div>
      	<div class="col-sm-6">
      		<%= f.label :end_date, "結束時間" %><%= f.date_field :end_date, :class => "form-control" %>
      	</div>
      </div>
      <div class="form-group">
        <%= f.fields_for :campaign_image, @campaign.input_campaign_image do |i|%>
          <%= i.label "上傳圖片"%>
          <%= i.file_field :file, :class => "form-control"%>
        <% end %>
				<%= f.label :youtube_url, "YouTube影片" %><%= f.text_field :youtube_url, :class => "form-control" %>
				<%= f.label :facebook_url, "Facebook粉絲團" %><%= f.text_field :facebook_url, :class => "form-control" %>
				<%= f.label :twitter_url, "Twitter" %><%= f.text_field :twitter_url, :class => "form-control" %>
        <hr>
        <%= f.label :risk, "風險與承諾" %><%= f.text_area :risk, rows: 4, :class => "form-control" %>
        <hr>
				<%= f.label :description_html, "提案內容" %><%= f.text_area :description_html, rows: 4, :class => "form-control" %>
        <hr>
        <%= f.label :order_description_html, "贊助時注意事項" %><%= f.text_area :order_description_html, rows: 4, :class => "form-control" %>
        <hr>
        <%= f.label :order_success_html, "贊助後注意事項" %><%= f.text_area :order_success_html, rows: 4, :class => "form-control" %>
      </div>
      <%= f.submit "送出"%>
      <%= f.submit "取消", :type => "reset" %>     
		<% end %>
	</div>
</div>
<% content_for :javascript do %>
  <script>
    CKEDITOR.replace( 'campaign_risk' );
    CKEDITOR.replace( 'campaign_description_html' );
    CKEDITOR.replace( 'campaign_order_description_html' );
    CKEDITOR.replace( 'campaign_order_success_html' );
  </script>
<% end %>