<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container mb-3">


<div class="container">
  <%= render partial: 'shared/campaign_top', locals: { campaign: @campaign, is_track: @is_track } %>
  <nav class="nav nav-pills nav_underlines mt-5 mt-md-0" id="campaignTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-campaign-tab" data-toggle="tab" href="#nav-campaign" role="tab" aria-controls="nav-campaign" aria-expanded="true">內容</a>
    <%= link_to "問與答", campaign_show_qa_path(params[:id]) , :class => "nav-item nav-link"%>
    <%= link_to "更新( #{@campaign.campaign_updates.size})", campaign_show_update_path(params[:id]) , :class => "nav-item nav-link" %>
    <%= link_to "留言(#{@campaign_replies.size})", campaign_show_reply_path(params[:id]), :class => "nav-item nav-link" %>
    <%= link_to "友善團隊(#{@campaign.campaign_groups.size})", group_campaign_path(params[:id]) , :class => "nav-item nav-link"%>
    <%= link_to "支持者(#{@campaign.orders.is_paid.size})", support_campaign_path(params[:id]) , :class => "nav-item nav-link"%>
    <!-- <a class="nav-item nav-link" id="nav-backers-tab" data-toggle="tab" href="#nav-backers" role="tab"aria-controls="nav-backers">Backers</a> -->
  </nav>
</div>
<hr class="mt-0 mb-4">
<div class="container">
  <div class="campaign_body">
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-campaign" role="tabpanel" aria-labelledby="nav-campaign-tab" >
            <div>
              <% if @campaign.campaign_updates.present? %>
                <small style="line-height: 39px;color: grey;">最新進度</small>
                <%= link_to "#{@campaign.campaign_updates.last.campaign_title}", campaign_show_update_path(params[:id], anchor: "top") %>
              <% end %>
            </div>
            <h2><%= t('.about') %></h2>
            <article>
              <section>
                <%= raw @campaign.description_html %>
              </section>
            </article>
            <h5>風險與承諾</h5>
            <%= raw @campaign.risk %>
          </div>
        </div>
      </div>
      
        <!-- <h2><%#= t('.about') %></h2>
        <article>
          <section>
            <%#= raw @campaign.description_html %>
          </section>
        </article> -->
      
      <aside class="col-md-5 col-lg-4">
        <h2><%= t('.goodies') %></h2>
        <% @campaign.goodies.order(:sort).each do |goody| %>
          <%= render partial: 'shared/goody', locals: { goody: goody } %>
        <% end %>
        <!-- <section class="card side_card">
             <div class="card-body">
             <h4 class="card-title strong">Pledge CHF 15 or more</h4>
             <h5>CHF 15 Reward</h5>
             <p class="card-text">
             Receive regular project updates, plus your name listed on DCL website as a member of Glarnercrowd supporters.
             </p>

             <div class="card_point">ESTIMATED DELIVERY</div>
             <time>Sep 2017</time>

             <p class="card_point">200 Backers</p>
             </div>
             <div class="input_iconed">
             <span class="input_icon">$</span>
             <input type="text" class="form-control" placeholder="amount" aria-label="amount" aria-describedby="pledge-input" value="10">
             </div>
             <button class="btn btn_theme btn_bottom">Select</button>
             <button class="btn btn_faded btn_bottom">Select</button>
             </section> -->
      </aside>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
  $(".btn_card").click(function() {
    var track_class = $("#track_btn").attr("class")
    $.post( "/tracks", { user_id: <%= current_user.present? ? current_user.id : 0 %>, campaign: "<%= params[:id]%>" })
      .done(function( data ) {
        if (track_class.indexOf("-o")!=-1){
          alert( "追蹤完成" );
          $("#track_btn").removeClass("far");
          $("#track_btn").addClass("fas");
        }
        else
        {
          alert( "追蹤取消" );
          $("#track_btn").removeClass("fas");
          $("#track_btn").addClass("far"); 
        }
      });
  });
  </script>
<% end %>