<div id="main" class="push py-14 mt-10 mt-lg-12">
  <div class="container mb-3">
    <%= render partial: 'shared/campaign_top', locals: { campaign: @campaign, is_track: @is_track } %>
  </div>
  <div class="container-fluid border-bottom bg-white mb-6 pt-3" id="menu">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="nav-responsive">
            <ul class="nav nav-tabs nav-justified border-bottom-0">
              <li class="nav-item">
                <%= link_to "內容", campaign_path(params[:id], anchor: "menu") , :class => "nav-link active"%>
              </li>
              <li class="nav-item d-lg-none">
                <a class="nav-link anchor" href="#rewards">回饋</a>
              </li>
              <li class="nav-item">
                <%= link_to "更新 <span class='text-primary'>#{@campaign.campaign_updates.size}</span>".html_safe, campaign_show_update_path(params[:id], anchor: "menu") , :class => "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "問答 <span class='text-primary'>#{@campaign.campaign_qas.size}</span>".html_safe, campaign_show_qa_path(params[:id], anchor: "menu") , :class => "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "留言 <span class='text-primary'>#{@campaign_replies.size}</span>".html_safe, campaign_show_reply_path(params[:id], anchor: "menu"), :class => "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "小農隊 <span class='text-primary'>#{@campaign.campaign_groups.size}</span>".html_safe, group_campaign_path(params[:id], anchor: "menu") , :class => "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "支持者 <span class='text-primary'>#{@campaign.orders.is_paid.size}</span>".html_safe, support_campaign_path(params[:id], anchor: "menu") , :class => "nav-link"%>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-4 d-none d-lg-block">
          <%= link_to "支持提案", campaign_goodies_path(@campaign.slug), class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mb-lg-0 mb-5">
        <% if @campaign.campaign_updates.present? %>
          <div class="border p-3 mb-6 rounded">
            <div class="lead font-weight-bold">
              <span class="badge badge-warning text-white">NEW</span>
                計畫更新 <small>發佈於<%= @campaign.campaign_updates.last.created_at.strftime(" %F") %></small>
            </div>
            <%= link_to "#{@campaign.campaign_updates.last.campaign_title}", campaign_update_detail_path(params[:id], @campaign.campaign_updates.last.id, anchor: "menu") %>
          </div>
        <% end %>
        <div class="text-dark lead">
          <figure class="figure">
            <%= image_tag @campaign.campaign_image.try(:campaign_path), class: "img-fluid" %>
          </figure>
          <div id="campaign_body">
            <%= raw @campaign.description_html %>
          </div>
        </div>
        <div class="border p-3 rounded">
          <div class="text-center mb-3">
            <div class="alert-heading h5 font-weight-bold">
              <i class="fas fa-exclamation-triangle"></i> 風險與承諾
            </div>
          </div>
          <%= raw @campaign.risk %>
        </div>
        <div class="mt-3 d-lg-none">
          <%= link_to "支持提案", campaign_goodies_path(@campaign.slug), class: "btn btn-primary btn-block" %>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="pt-10 mb-3 d-lg-none" id="rewards">
          <div class="h5 font-weight-bold">回饋商品</div>
        </div>
        <% @campaign.goodies.order(:sort).each do |goody| %>
          <%= render partial: 'shared/goody', locals: { goody: goody } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="fixed-bottom bg-white border-top p-3 d-lg-none" id="support-action">
  <%= link_to "支持提案", campaign_goodies_path(@campaign.slug), class: "btn btn-primary btn-block" %>
</div>
<% content_for :javascript do %>
  <script>
  $("#campaign_body").find('img').map(function(){
    $(this).attr('class', "img-fluid");
    $(this).removeAttr('style');
  })
  $(".btn_card").click(function() {
    <% if user_signed_in? %>
    var track_class = $("#track_btn").attr("data-prefix")
    $.post( "/tracks", { user_id: <%= current_user.id %>, campaign: "<%= params[:id]%>" })
      .done(function( data ) {
        if (track_class.indexOf("fas")!=-1){
          $("#track_btn").attr("data-prefix", "far")
        }
        else
        {
          $("#track_btn").attr("data-prefix", "fas")
        }
      });
    <% else %>
    alert("請先登入");
    window.location.replace("/users/sign_in");
    <% end %>
  });
  </script>
<% end %>